src/PrologWorkbench.Editor/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="SampleProgramViewModel" type="tns:SampleProgramViewModel" />
      <xs:element name="SampleTransciptViewModel" type="tns:SampleTransciptViewModel" />
      <xs:element name="SampleCommandViewModel" type="tns:SampleCommandViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SampleProgramViewModel">
    <xs:attribute blend:FormatParameters="2,8" name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SampleTransciptViewModel">
    <xs:attribute blend:FormatParameters="2,8" name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SampleCommandViewModel">
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
</xs:schema>